<section id="main">

  <div id="navbar">
    <ul>
      <li>How it works</li>
      <li id="loginbutton" (click)="login()" *ngIf="!(user | async)?.uid">Login</li>
            <li id="loginbutton" (click)="logout()" *ngIf="(user | async)?.uid">Logout</li>
      <li>FAQ</li>
    </ul>
  </div>


  <div class="logo">
    

 
      
  </div>

  <div class="input">
     <div class="icons">
         
      <ul>
        <li><i class="fa fa-cutlery" aria-hidden="true"></i> <span class="des">See who delivers in your neighborhood</span></li>
        <li><i class="fa fa-cutlery" aria-hidden="true"></i> <span>Lorem ipsum dolor sit amet, consectetur</span></li>
<li><i class="fa fa-cutlery" aria-hidden="true"></i> <span>Duis feugiat justo risus, et egestas</span></li>
        

     

      </ul>
<span class="temp">See who delivers in your neighborhood</span>
      

    </div>
    <input [(ngModel)]="message"  required>
    <button (click)="Send(message)">Request</button>
    <div class="realtime">
      <ul>
        <li *ngFor="let item of items | async"> 
          <div class="details">
           Date : {{item.resdate}}<br>
            User : {{item.userid}}<br>
              Request : {{item.request}}
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  

<section>